.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background: rgba(255, 255, 255, 0.15);
    padding: 40px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.login-box h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.login-box input[type="text"],
.login-box input[type="password"] {
    color: white;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px) saturate(150%);
    -webkit-backdrop-filter: blur(20px) saturate(150%);
    border: 0px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
}

.login-box input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    border: 0px solid rgba(255, 255, 255, 0.3);
    border-radius: 12px;
    backdrop-filter: blur(15px) saturate(180%);
    -webkit-backdrop-filter: blur(15px) saturate(180%);
    box-shadow: 0 4px 20px rgba(17, 13, 13, 0.25);
    cursor: pointer;
    transition: all 0.3s ease;
}

.login-box input[type="submit"]:hover {
    transform: translateY(-2px);
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.3);
}

.login-box a {
    color: #ccc;
    text-decoration: none;
    display: block;
    margin-top: 10px;
    text-align: center;
}

#text:hover{
    text-decoration: underline;
}

.login-box input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.back-button {
    margin-top: 20px;
}

.back-button a {
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    border: 0px solid rgba(255, 255, 255, 0.3);
    border-radius: 12px;
    backdrop-filter: blur(15px) saturate(180%);
    -webkit-backdrop-filter: blur(15px) saturate(180%);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    padding: 10px 20px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.back-button a:hover {
    transform: translateY(-2px);
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.3);
}